<html>
    <body>
        <form action="/login">
            <table>
                <tr>
                    <td>Enter Account number</td>
                    <td><input type="number" name="accno"></td>
                </tr>
                <tr>
                    <td>Enter PIN</td>
                    <td><input type="number" name="pin" size="20"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit"></td>
                </tr>
            </table>
        </form>
    </body>
</html>